/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    padding: 0;
}

h1, h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

.book-list {
    margin-top: 20px;
}


.book-item {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.book-link:hover {
    color: #007bff;
}

.book-detail {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-detail h1 {
    margin-bottom: 10px;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
}

.bestseller {
    background-color: #28a745;
}

.not-bestselling {
    background-color: #dc3545;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.btn:hover {
    background-color: #0056b3;
}

.book-description {
    color: #666;
    font-size: 14px;
    margin-top: 5px;
}

.book-cover {
    width: 100px;
    height: auto;
    margin-right: 10px;
    float: left;
}
